body {
  display: grid;

  grid-template-areas:
    "header header header header header header"
    "side1 a1 a2 a3 a4 side2"
    "side1 b1 b2 b3 b4 side2"
    "side1 c1 c2 c3 c4 side2"
    "side1 d1 d2 d3 d4 side2"
    "footer footer footer footer footer footer";

  grid-template-columns:
    3fr 1fr 1fr 1fr 1fr 3fr;

}

body {
  background-color: #264653;
}

#top {
  grid-area: header;
}

#side1 {
  grid-area: side1;
}

#side2 {
  grid-area: side2;
}

#footer {
  grid-area: footer;
}

#a1 {
  grid-area: a1;
}

#a2 {
  grid-area: a2;
}

#a3 {
  grid-area: a3;
}

#a4 {
  grid-area: a4;
}

#b1 {
  grid-area: b1;
}

#b2 {
  grid-area: b2;
}

#b3 {
  grid-area: b3;
}

#b4 {
  grid-area: b4;
}

#c1 {
  grid-area: c1;
}

#c2 {
  grid-area: c2;
}

#c3 {
  grid-area: c3;
}

#c4 {
  grid-area: c4;
}

#d1 {
  grid-area: d1;
}

#d2 {
  grid-area: d2;
}

#d3 {
  grid-area: d3;
}

#d4 {
  grid-area: d4;
}