#zatemnenie {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno {
    width: 25vw;
    font-family: 'Syne Tactile', cursive;
    font-size: 1vw;
    height: max-content;
    text-align: center;
    padding: 15px;
    border: 10px solid #1b323b;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #264653;
}

#zatemnenie:target {
    display: block;
}
    
.close {
    border-radius: 10px;
    display: inline-block;
    border: 6px solid #1b323b;
    padding: 0 12px;
    margin: 10px;
    color: white;
    font-family: 'Syne Tactile', cursive;
    font-size: 2vw;
    text-decoration: none;
    background: #264653;
    cursor: pointer;
}